@import 'font.css';



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    margin: 18px 14px 0;
    position: relative;
    padding-bottom: 180px;
    padding-top: 250px;
    background: #255447;
    border-radius: 35px;
}

.hed_left {
    width: 524px;
}

.hed_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 99px;
    text-transform: uppercase;
    background: linear-gradient(95.61deg, #FFFFFF 45.53%, rgba(255, 255, 255, 0) 167.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hed_p {
    margin: 20px 0 55px;
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.9);
}

.hed_a {
    width: 223px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 20px rgba(255, 75, 120, 0.51));
    border-radius: 35px;
}

.hed_right {
    width: 500px;
    height: 500px;
    position: relative;
}

.hed_i1 {
    position: absolute;
    z-index: 5;
}

.hed_i2 {
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 4;
}

.hed_i3 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.hed_i4 {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.hed_nav {
    top: 80px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.nad_nav {
    display: flex;
    justify-content: center;
}

.logo {
    margin-right: 100px;
    height: 40px;
}

.hed_ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

}

.hed_li_a {
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.85);
}

.hed_li_a_zvonok {
    width: 178px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #255447;
    background: #F8DE5F;
    border-radius: 35px;
}


/* main */


.h2 {
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 50px;
    color: #282828;
}

.p {
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: rgba(39, 38, 38, 0.73);
}

.sec1 {
    padding: 140px 0;
}

.sec1_verh {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec1_verh_right {
    width: 480px;
}

.s1p2 {
    margin-top: 12px;
}

.s1h2::after {
    border: 4px solid #255447;
    transform: rotate(180deg);
}

.sec1_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 36px;
    margin-top: 100px;
}

.s1d2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.s1d3 {
    grid-column: 1/3;
    grid-row: 2/3;
}

.s1d4 {
    grid-column: 2/4;
    grid-row: 2/3;
}

.s1d5 {
    position: relative;
    grid-column: 3/4;
    grid-row: 1/4;
    background: #FFFFFF;
    border: 15px solid rgba(161, 160, 160, 0.17);
    border-radius: 60px;
    width: 100%;
    height: 100%;
}

.s1d5 img {
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

.sec1_block {
    padding: 25px;
    width: 400px;
    height: 250px;
    border: 1px dashed #DDDDDD;
    border-radius: 35px;
}

.s1block_h2 {
    margin-top: 30px;
    margin-bottom: 18px;
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    color: #272626;
}

.s1_icons {
    color: #255447;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: rgba(37, 84, 71, 0.05);
    border: 0.5px dashed #255447;
    border-radius: 15px;
}

.beer::before {
    font-style: normal;
    content: '\e0b3';
}

.tag::before {
    font-style: normal;
    content: '\f02c';
}

.cart::before {
    font-style: normal;
    content: '\e0dc';
}

.bag::before {
    font-style: normal;
    content: '\f847';
}

.s1b5_h2 {
    left: 10px;
    width: 250px;
    top: 225px;
    position: absolute;
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 34.6338px;
    line-height: 35px;
    color: #000000;
}

.s1b5_p {
    width: 295px;
    left: 10px;
    top: 335px;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3A3737;
}

.s1b5_a {
    left: 10px;
    bottom: 50px;
    position: absolute;
    width: 170px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 13.4687px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #255447;
    background: #FFFFFF;
    border-radius: 35px;
}

.sec2 {
    background: #000000;
    height: 1080px;
}

.s2_flex {
    display: flex;
    justify-content: space-between;
}

.sec2_h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 42.3051px;
    line-height: 51px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sec2_p {
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    color: #FFFFFF;
}

.sec2_left {
    margin-top: 400px;
    width: 560px;
}

.pivo {
    width: 600px;
    margin-top: 100px;
}

.sec3 {
    padding-top: 150px;
    padding-bottom: 100px;
}

.s3h2 {
    text-align: center;
    margin-bottom: 90px;
}

.sec3_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.sec3_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 110px;
}

.s3b_h2 {
    margin-bottom: 80px;
}

.sec4 {
    padding: 70px;
    background: linear-gradient(79.7deg, #F8DE5F 0.74%, #FFEC8D 27.61%, #F4D330 41.77%, #F1D133 64.75%, #FCE575 111.18%);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.s4blocks {
    margin: 35px 0 65px;
    display: flex;
    margin-left: -32px;

}

.s4block {
    width: 250px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 32px;
}

.s4_midblock {
    border-left: 1px solid rgba(0, 0, 0, 0.13);
    border-right: 1px solid rgba(0, 0, 0, 0.13);
}

.s4_links {
    display: flex;
    gap: 21px;
}

.s4_a1 {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    width: 231px;
    height: 70px;
    background: #32373B;
    box-shadow: 0px 4px 55px rgba(50, 55, 59, 0.29);
    border-radius: 35px;
}

.s4_a2 {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #0F0F0F;
    width: 231px;
    height: 70px;
    border: 1px solid #131313;
    filter: drop-shadow(0px 4px 55px rgba(50, 55, 59, 0.29));
    border-radius: 35px;
}

.s4blockdiv h3 {
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    opacity: 0.7;
}

.s4blockdiv p {
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.7);
    opacity: 0.7;
}

.sec5 {
    display: flex;
    justify-content: space-between;
    border: 1px dashed #DDDDDD;
    border-radius: 35px;
    height: 400px;
    align-items: center;
    padding-left: 130px;
    margin-bottom: 140px;
}

.s5_h2 {
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 39px;
    color: #255447;
}

.s5_p {
    margin: 37px 0 40px;
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
    color: #255447;
    width: 450px;
}

input::placeholder {
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.55);
}

input {
    padding-left: 20px;
    border: none;
    background: rgba(217, 217, 217, 0.25);
    border-radius: 35px;
    width: 180px;
    height: 55px;
}

button {
    font-family: 'Object Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
    width: 180px;
    height: 55px;
    background: #255447;
    border-radius: 35px;
    border: none;
    cursor: pointer;
}

.footer {
    padding: 50px 0 70px;
    background: #29574A;
}

.fot_betw{
    display: flex;
    justify-content: space-between;
}

.fot_1 {
    width: 400px;
}

.fot_p {
    margin-bottom: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.fot_h {
    margin-bottom: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.fot_a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.fpm{
    margin-bottom: 15px;
}

.fot_block{
    margin: 30px 0;
}